<html>
  <head>
    <link rel="stylesheet" href="/css/product.css">
 
  </head>
  <body>
    <h1> Home Page </h1>
    <a href="/login">Login</a>
    <a href="/register">Register</a>

    <div class="grid-container">
      <% products.forEach(product => { %>
        <div class="product-card">
          <img src="/uploads/<%= product.image %>" alt="<%= product.name %>">
          <h3><%= product.name %></h3>
          <p><%= product.description %> - $<%= product.price %></p>
          <button>Add to Cart</button>
        </div>
      <% }) %>
    </div>

  </body>
</html>
