<html>
  <head>
    <link rel="stylesheet" href="/css/product.css">
  </head>
  <body>
    <h1>Welcome <%= user.username %>!</h1>
    <% if (user.role === 'admin') { %>
      <a href="/api/products/adminproduct">Admin page</a>
    <% } %>      
    <h2>All Products</h2>
    <div class="grid-container">
      <% products.forEach(product => { %>
        <div class="product-card">
          <img src="/uploads/<%= product.image %>" alt="<%= product.name %>">
          <h3><%= product.name %></h3>
          <p><%= product.description %> - $<%= product.price %></p>
          <button class="add to card">Add to Cart</button>
        </div>
      <% }) %>
    </div>
    <a href="/api/auth/logout">Logout</a>
  </body>
</html>
